version: '3.8'

services:
  api:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DATABASE_URL=postgres://nppe:StrongP@ss_123@db:5432/nppe?sslmode=disable
      - REDIS_URL=redis://redis:6379
      - JWT_SECRET=nppe-super-secret-jwt-key-2025-change-in-production
      - JWT_REFRESH_SECRET=nppe-super-secret-refresh-key-2025-change-in-production
      - APP_ENV=development
      - FRONTEND_URL=http://localhost:5173
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
    command: go run cmd/api/main.go

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=nppe
      - POSTGRES_PASSWORD=StrongP@ss_123
      - POSTGRES_DB=nppe
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  adminer:
    image: adminer
    ports:
      - "8081:8080"
    depends_on:
      - db

volumes:
  postgres_data:
  redis_data: